/* ==========================================================================
    CATPPUCCIN MACCHIATO THEME - DARKER VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #8aadf4; // Blue
$dark-primary-color         : mix(#000, $primary-color, 40%);
$darker-primary-color       : mix(#000, $primary-color, 60%);
$light-primary-color        : mix(#fff, $primary-color, 25%);

$background                 : #24273a; // Base
$background-light           : #363a4f; // Surface0
$background-lighter         : #cad3f5; // Text
$text                       : #cad3f5; // Text
$link                       : #8aadf4; // Blue
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : #b7bdf8; // Lavender
$footer                     : #181926; // Crust

/* Color codes used for the site */
$danger-color               : #ed8796; // Red
$info-color                 : #7dc4e4; // Sapphire
$notice-color               : #c6a0f6; // Mauve
$success-color              : #a6da95; // Green
$warning-color              : #eed49f; // Yellow

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$background-light};
    --global-dark-border-color          : #{$footer};
    --global-code-background-color      : #{$footer};
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$light-primary-color};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #c6a0f6;
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #a5adcb; // Subtext0
    --global-thead-color                : #{$background-light};
}
