/* ==========================================================================
    CATPPUCCIN MOCHA THEME - DARKEST VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #89b4fa; // Blue
$darker-primary-color       : mix(#000, $primary-color, 60%);
$dark-primary-color         : mix(#000, $primary-color, 40%);
$light-primary-color        : mix(#fff, $primary-color, 25%);

$background                 : #1e1e2e; // Base
$background-light           : #313244; // Surface0
$background-lighter         : #cdd6f4; // Text
$text                       : #cdd6f4; // Text
$link                       : #89b4fa; // Blue
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : #b4befe; // Lavender
$footer                     : #11111b; // Crust

/* Color codes used for the site */
$danger-color               : #f38ba8; // Red
$info-color                 : #74c7ec; // Sapphire
$notice-color               : #cba6f7; // Mauve
$success-color              : #a6e3a1; // Green
$warning-color              : #f9e2af; // Yellow

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$background-light};
    --global-dark-border-color          : #{$footer};
    --global-code-background-color      : #{$footer};
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$light-primary-color};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #{$notice-color};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #a6adc8; // Subtext0
    --global-thead-color                : #{$background-light};
}
